/* Base styles */

:root {
    --background-light: #f0f0f0;
    --text-light: #333;
    --background-dark: #181818;
    --text-dark: #f0f0f0;
    --header-light: #333;
    --header-dark: #222;
    --nav-light: #444;
    --nav-dark: #333;
    --footer-light: #333;
    --footer-dark: #222;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color 0.3s, color 0.3s;
}

header,
nav,
footer {
    transition: background-color 0.3s;
}

header {
    background-color: var(--header-light);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--nav-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--nav-light);
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li ul li a {
    padding: 10px 20px;
    white-space: nowrap;
}

nav ul li ul li a:hover {
    background-color: #555;
}

nav ul li:hover ul {
    display: block;
}

main {
    padding: 40px 20px;
    text-align: center;
}

footer {
    background-color: var(--footer-light);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


/* Dark mode styles */

[data-applied-mode="dark"] {
    --background-light: var(--background-dark);
    --text-light: var(--text-dark);
    --header-light: var(--header-dark);
    --nav-light: var(--nav-dark);
    --footer-light: var(--footer-dark);
}


/* Switch styles */

.switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: transform 0.3s;
}

input:checked+.slider {
    background-color: #666;
}

input:checked+.slider:before {
    transform: translateX(26px);
}


/* Media queries */

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li ul {
        position: static;
    }
}
